extends default

block content
    h1 Ouch!
    p.
        Looks like something went terribly wrong. Don't worry; it's (probably) not your fault.
        This error has been saved, and the proper authorities have been notified. You should probably
        <a href='/'>go back home</a> now.
