extends default

block content
    +alerts(flash)
    .row
        .col-lg-10: h3 #{title}
        if username
            .col-lg-2: a.text-right(href='/edit/#{bhajan_id}') Edit
    .row: .col-lg-12 !{lyrics}
    br
    unless language === 'english'
        p.text-muted #{translation}
