extends default

block content
    +alerts(flash)
    if username
        .row: .col-lg-12
            a.pull-left(href='/review')
                span.glyphicon.glyphicon-arrow-left
                |  Review
            a.pull-right(href='/edit/#{bhajan_id}') Edit
    .row: .col-lg-12: h3 #{title}
    .row.spacer: .col-lg-12: p !{lyrics}
    unless language === 'english'
        .row.spacer: .col-lg-12: p.text-muted #{translation}
