extends default

block content
    .row: .col-lg-12
        form(action='/bhajan', method='post')
            .form-group
                label Title
                input.col-lg-12.form-control(type='text', name='title')
            .form-group
                label Lyrics
                textarea.col-lg-12.form-control(type='text', rows='10', name='lyrics', required='required')
            .form-group
                label Translation
                textarea.col-lg-12.form-control(type='text', rows='5', name='translation')
            .form-group
                label(for='language') Language
                select.form-control(name='language', data-placeholder='Language...', required='required')
                    option(value='sanskrit') Sanskrit
                    option(value='english') English
                    option(value='hindi') Hindi
                    option(value='telugu') Telugu
                    option(value='tamil') Tamil
                    option(value='other') Other
            input.btn.btn-primary.pull-right(type='submit', value='Submit')
