extends default

block content
    script.
        $(document).ready(function() {
            $('#search_title').on('click', function () {
                search_redirect($.param({title: $('#query').val()}));
            });

            $('#search_lyrics').on('click', function () {
                search_redirect($.param({lyrics: $('#query').val()}));
            });

            $('#query').keydown(function (event) {
                if (event.keyCode === 13) search_redirect($.param({title: $('#query').val()}));
            });
        });
    +alerts(flash)
    .col-lg-6.col-lg-offset-3
        .row: .col-lg-12: img(src='/img/saibabayoung.jpg', style='margin:auto;display:block;height:300px;')
        .row.spacer
        .row: .col-lg-12
            label.sr-only(for='query')
            .input-group
                input#query.form-control(type='text', placeholder='Search bhajans...')
                span.input-group-btn.btn-group
                    button#search.btn.btn-primary.dropdown-toggle(type='button', role='search' data-toggle='dropdown') Search <span class="caret"></span>
                    ul.dropdown-menu(role='menu')
                        li#search_title: a(href='#') Search Title
                        li.divider
                        li#search_lyrics: a(href='#') Search Lyrics
