extends default


block content
    script(type="text/javascript")
        var search_redirect = function () {
            window.location = '/search/' + $('#query').val();
        }

        $(document).ready(function() {
            $('#search').on('click', function () {
                search_redirect();
            });

            $("#query").keydown(function (event) {
                if (event.keyCode === 13) {search_redirect();}
            });
        });
    h1= title
    p Welcome to #{name}
    input#query(placeholder='Search bhajan lyrics...')
    button#search.btn.btn-primary(type="button") Search

