extends default

block content
    .col-md-8.col-md-offset-2
        if flash.error
            .alert.alert-warning.alert-dismissable #{flash.error[0]}
        form(accept-charset='UTF-8', role='form', action='/login', method='post')
            fieldset
                .form-group: input.form-control(placeholder='User', name='username', type='text')
                .form-group: input.form-control(placeholder='Password', name='password', type='password', value='')
                input.btn.btn-lg.btn-success.col-md-4.col-md-offset-4(type='submit', value='Login')
