extends default

block content
    if result.length > 0
        ul
            for bhajan in result
                a(href="/bhajan/#{bhajan.bhajan_id}")
                    li= bhajan.title
    else
        h2 No matching results found.
